/* All the colors of this site*/

$light-gray: #f5f4f4;
$gray: #e8e8e8;
$dark-gray: #a8a8a8;

$color-primary-light: #ffa500;
$color-primary: #ff8c00;
$color-primary-dark: #ff4500;
$color-primary-coral: #ff7f50;

$color-green: #40c057;
$color-green-dark: #2f9e44;

$color-purple: #be4bdb;
$color-purple-dark: #9c36b5;

$color-blue: #4263eb;
$color-blue-dark: #364fc7;

$color-yellow: #ffd43b;
$color-yellow-dark: #fab005;
