/* All the colors of this site*/

$light-gray: #f5f4f4;
$gray: #e8e8e8;
$dark-gray: #a8a8a8;

$color-primary-light: #ffa500;
$color-primary: #ff8c00;
$color-primary-dark: #ff4500;
$color-primary-coral: #ff7f50;
