.content {
  background-color: $gray;
  font-size: 2rem;
  background-clip: border-box;

  &__title {
    font-size: 4rem;
    transform: translateY(-2.3rem);

    /* The next three selectors use a cool trick which allows you to control where the scroll is going to stop when the nav's hrefs are clicked*/

    &--biography {
      padding-top: 5rem;
      margin-top: -5rem;
    }

    &--aspirations {
      padding-top: 5rem;
      margin-top: -5rem;
    }

    &--skills {
      padding-top: 6rem;
      margin-top: -6rem;
    }

    &--hobbies {
      padding-top: 9rem;
      margin-top: -9rem;
      @media only screen and (max-width: 510px) {
        padding-top: 5rem;
        margin-top: -5rem;
      }
    }
  }

  &__paragraph {
    width: 100%;
    line-height: 2.8rem;
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    @media only screen and (max-width: 510px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__biography {
    padding-top: 3rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: center;
  }

  &__aspirations {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: $light-gray;
    box-shadow: 0 0 5rem 1.5rem rgba(0, 0, 0, 0.1);
    /* The clip path has a weird behavior when the page shrinks, so I had to control it with a lot of media queries*/
    // clip-path: polygon(0 6%, 100% 0%, 100% 94%, 0% 100%);

    // @media only screen and (max-width: 1330px) {
    //   clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0% 100%);
    // }
    // @media only screen and (max-width: 1200px) {
    //   clip-path: polygon(0 6%, 100% 0%, 100% 94%, 0% 100%);
    // }

    // @media only screen and (max-width: 850px) {
    //   clip-path: polygon(0 4%, 100% 0%, 100% 96%, 0% 100%);
    // }
    // @media only screen and (max-width: 500px) {
    //   clip-path: polygon(0 1%, 100% 0%, 100% 99%, 0% 100%);
    //   padding-top: 8rem;
    //   padding-bottom: 5rem;
    // }
    // @media only screen and (max-width: 350px) {
    //   clip-path: polygon(0 1%, 100% 0%, 100% 99%, 0% 100%);
    // }
  }

  &__skills {
    padding-top: 8rem;
    padding-bottom: 8rem;
    @media only screen and (max-width: 420px) {
      height: 130rem;
    }
    @media only screen and (max-width: 300px) {
      height: 150rem;
    }
  }

  &__hobbies {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: $light-gray;
    background-image: url(../img/scattered-forcefields.svg);
    /* background by SVGBackgrounds.com. Big shoutout! */
    box-shadow: 0 0 5rem 1.5rem rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: 420px) {
      margin-top: 10rem;
    }

    // clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 100%);

    // @media only screen and (max-width: 1330px) {
    //   clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
    // }

    // @media only screen and (max-width: 500px) {
    //   clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0% 100%);
    //   padding-top: 8rem;
    //   padding-bottom: 5rem;
    // }
    // @media only screen and (max-width: 350px) {
    //   clip-path: polygon(0 1%, 100% 0%, 100% 100%, 0% 100%);
    // }
  }
}
