.content {
  background-color: $gray;
  font-size: 2rem;
  background-clip: border-box;

  &__title {
    font-size: 4rem;
    transform: translateY(-2.3rem);

    /* The next three selectors use a cool trick which allows you to control where the scroll is going to stop when the nav's hrefs are clicked*/

    &--biography {
      padding-top: 5rem;
      margin-top: -5rem;
    }

    &--aspirations {
      padding-top: 5rem;
      margin-top: -5rem;
    }

    &--skills {
      padding-top: 6rem;
      margin-top: -6rem;
    }

    &--hobbies {
      padding-top: 9rem;
      margin-top: -9rem;
      @media only screen and (max-width: 510px) {
        padding-top: 5rem;
        margin-top: -5rem;
      }
    }
  }

  &__paragraph {
    width: 100%;
    line-height: 2.8rem;
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    @media only screen and (max-width: 510px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__biography {
    padding-top: 3rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: center;
  }

  &__aspirations {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: $light-gray;
    box-shadow: 0 0 5rem 1.5rem rgba(0, 0, 0, 0.1);
  }

  &__skills {
    padding-top: 8rem;
    padding-bottom: 8rem;
    @media only screen and (max-width: 420px) {
      height: 130rem;
    }
    @media only screen and (max-width: 300px) {
      height: 150rem;
    }
  }

  &__hobbies {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: $light-gray;
    box-shadow: 0 0 5rem 1.5rem rgba(0, 0, 0, 0.1);

    /* background by SVGBackgrounds.com. Big shoutout! */
    background-image: url(../img/scattered-forcefields.svg);

    @media only screen and (max-width: 420px) {
      margin-top: 10rem;
    }
  }
}
