.aspiration {
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  height: 65rem;
  background-color: $gray;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  margin: 1em;
  text-align: center;
  transition: all 0.3s;
  width: 45%;
  @media only screen and (max-width: 1025px) {
    /* Again, the containers were getting to small. At this point they are one per line*/
    width: 100%;
    margin: 2rem 7rem;
  }
  @media only screen and (max-width: 540px) {
    padding-top: 0;
  }
  @media only screen and (max-width: 500px) {
    margin: 2rem 2rem;
  }
  @media only screen and (max-width: 330px) {
    height: 75rem;
  }
  @media only screen and (max-width: 310px) {
    height: 90rem;
  }

  &__one {
    border: 0.4rem solid $color-green;
    & *::selection {
      background-color: $color-green-dark;
    }
  }
  &__two {
    border: 0.4rem solid $color-purple;
    & *::selection {
      background-color: $color-purple-dark;
    }
  }
  &__three {
    border: 0.4rem solid $color-blue;
    & *::selection {
      background-color: $color-blue-dark;
    }
  }
  &__four {
    border: 0.4rem solid $color-yellow;
    & *::selection {
      background-color: $color-yellow-dark;
    }
    @media only screen and (max-width: 430px) {
      margin-bottom: 6rem;
    }
  }

  &__head {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media only screen and (max-width: 540px) {
      height: 30%;
    }
    &--1 {
      background-image: url(../img/undraw_country_side.svg);
    }
    &--2 {
      background-image: url(../img/undraw_programmer.svg);
    }
    &--3 {
      background-image: url(../img/undraw_fish_bowl.svg);
    }
    &--4 {
      background-image: url(../img/undraw_new_idea.svg);
    }
  }

  &__name {
    font-size: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
    color: #fff;
    &--1 {
      background-color: $color-green;
    }
    &--2 {
      background-color: $color-purple;
    }
    &--3 {
      background-color: $color-blue;
    }
    &--4 {
      background-color: $color-yellow;
    }
  }

  &__paragraph {
    padding: 2rem 3.5rem;
    @media only screen and (max-width: 600px) {
      padding-top: 1rem;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
